@use '../../theme-chalk/common/variable' as *;

@mixin button-base {
  // 布局
  @apply inline-flex items-center justify-center;
  // 元素
  @apply border-[1px] border-solid border-transparent
  h-[28px] py-0 px-[20px] bg-transparent;
  border-radius: $b-border-radius;
  // 文本属性
  @apply outline-0 leading-normal whitespace-nowrap cursor-pointer;

  // 文字样式
  font-size: $b-font-size-md;
  //其他样式
  transition: background-color $b-animation-duration-slow
      $b-animation-ease-in-out-smooth,
    bordre-color $b-animation-duration-slow $b-animation-ease-in-out-smooth,
    color $b-animation-duration-slow $b-animation-ease-in-out-smooth;
}
